@view-transition {
  navigation: auto;
}
body{
    
    /* background-image: url(images\Illustration8.png); */
    background-color: #cfc7ff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
        font-family:"Comic Sans MS", "Comic Sans","chewy";
 color: white;
-webkit-text-stroke: 2px #000000;
font-weight: 999;
}

.banner{

    position: absolute;
    border-bottom: solid 5px #6c62a367;
    width: 100%;
    /* height: 12vh; */
    background-color: #aea0ff;;
    top:0px;
    text-align: center;
    /* padding: 10px; */
        color: #ffe4c4;
    font-size: x-large;
        box-shadow: 0px 2px 12px rgba(105, 79, 255, 0.247);
    
}
.bangs{
      position:absolute;
      z-index: 2;
      width:550px;
      height: auto;
      /* top:-4vh */
        pointer-events: none; 

}
.hair{
    position: absolute;
        height: 550px;
        pointer-events: none; 
}
.facebl{
    position: absolute;
    height: 310px;
    width: auto;
     z-index: 1;
     pointer-events: none; 
}
.face{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.eyes{
    position: relative;
    top: -20px;
    display: flex ;
}
.eyes .eye{
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin:0 15px;
        border: solid 5px rgb(1, 0, 0) ;
        z-index: 1;
}
.eyes .eye::before{
    content: '';
    position:absolute;
    top: 50%;
    left:25px;
    transform: translate( -50%, -50%);
    width:50px;
    height:51px;
    border-radius: 50%;
    background-color: rgb(01, 0, 0);
/* z-index: 2; */
}

.button1{
 
 height: 100px;
 width: 250px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
  display: flex;
 color:#dfa772;
}
.button2{
 height: 100px;
 width: 250px;
  /* border: solid 5px rgb(255, 0, 0) ; */
position: absolute;
display: flex;
 color:#df72b5;
}
.button3{
 height: 100px;
 width: 250px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
 display: flex;
      color:#9be0b5;
}
.button4{
 height: 100px;
 width: 250px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
      display: flex;
      bottom: 10vh;
      right: 60vh;
      color:#9bc4e0;
}
.button5{
 height: 100px;
 width: 250px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
      display: flex;
    background-image: url(images\buttontesst.webp);
    }
.button6{
height: 200px;
 width: 250px;
  position: absolute;
  display: flex;
}
.bb{
    display: flex;
    position:fixed;
    bottom: 12.15%;
        background-color: #a89af7;;
            border: solid 7.5px #8f83d1a2;
                border-radius: 100%;
                font-size: 30px;
                -webkit-text-stroke: 2px #000000;
}
.arrow{
    height:50px;
    width:auto;
}
.ad{
    position: absolute;
    right: 0;
    bottom:0;
    height: 30px;


        align-items:center;
        text-align: center;
        z-index: 1;
    justify-content: center;
    color: bisque;
    background-color: #b5a8fd;;
    border: none;
    border-radius: 0%;
    /* border-style:double; */
    padding: 0px;
    box-shadow: #694fff00;
    transition: none;
    text-decoration: none;
}
.ad:hover{
    transform:none
}
a{
    /* font-weight: bold; */
    font-size: 37px;

        align-items:center;
        text-align: center;
        vertical-align:middle;
        z-index: 1;
    justify-content: center;
    color: bisque;
    background-color: #b5a8fd;;
    border: solid 7.5px #8f83d1a2;
    border-radius: 48%;
    /* border-style:double; */
    padding: 25px;
    box-shadow: 15px 15px 9px #6a4fff46;
    transition: all 0.1s ease-in-out;
    text-decoration: none;

}
a:hover{
      transform: scale(1.1);

}
 @media (min-width: 1000px) {

.button1{
 height: 100px;
 width: 200px;
  position: absolute;
  display: flex;
  top:20%;
  left:20%
}
.button2{
 height: 100px;
 width: 200px;

  position: absolute;
      display: flex;
left:5%;
/* top:37%; */
}
.button3{
 height: 100px;
 width: 200px;

  position: absolute;
 display: flex;
 right:5%;
 /* top:37%; */
}
.button4{
 height: 100px;
 width: 200px;

  position: absolute;
      display: flex;
bottom:25%;
left:20%
}
.button5{
 height: 100px;
 width: 200px;

  position: absolute;
      display: flex;
      bottom:25%;
right:20%

}
.button6{
     height: 100px;
 width: 200px;

  position: absolute;
      display: flex;
top:20%;
right:20%

}
} 

 @media (min-width: 1900px) {
    
.button1{
 height: 90px;
 width: 190px;
  position: absolute;
  display: flex;
  left:30%;
  top:18%;
}
.button2{
 height: 90px;
 width: 190px;

  position: absolute;
      display: flex;
    /* left:2vh; */
top:43%;
left: 22%;
}
.button3{
 height: 100px;
 width: 200px;

  position: absolute;
 display: flex;
/* right: 2vh; */
top:43%;
right: 22%;;
}
.button4{
 height: 90px;
 width: 190px;

  position: absolute;
      display: flex;
      bottom: 13%;
        left:30%;
}
.button5{
 height: 90px;
 width: 190px;

  position: absolute;
      display: flex;
      bottom: 13%;
      right: 30%;
}
.button6{
    right:30%;
      top:18%;
}
.hair{
    position: absolute;
        height: 550px;
        pointer-events: none; 
}
.face{

    width: 300px;
    height: 300px;
    background-color: white;
    /* background-image: url(images\faceblank.png); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    top:36%

}   
.eyes{
    position: relative;
    top: -20px;
    display: flex ;
}
}
 @media (min-width: 2500px) {
    body{
        -webkit-text-stroke: 3px #000000;
    }
a{
    font-size:55;

}
.ad{
        height: 40px;
}
.button1{
 height: 117px;
 width: 247px;

  position: absolute;
  display: flex;


}
.button2{
 height: 117px;
 width: 247px;


  position: absolute;
      display: flex;
    /* left:2vh; */
top:43%;
left: 22%;
}
.button3{
 height: 117px;
 width: 247px;


  position: absolute;
 display: flex;
/* right: 2vh; */
 height: 117px;
 width: 247px;

}
.button4{
 height: 117px;
 width: 247px;


  position: absolute;
      display: flex;
      bottom: 20%;
        left:30%;
}
.button5{
 height: 117px;
 width: 247px;

  position: absolute;
      display: flex;
      bottom: 20%;
      right: 30%;
}
.button6{
 height: 117px;
 width: 247px;

      right: 30%;
}
.face{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    /* background-image: url(images\faceblank.png); */
    
    display: flex;
    justify-content: center;
    align-items:center;
    top: 38%;
}   


}
@media (max-width: 1000px) {
body{
    
    /* background-image: url(images\Illustration8.png); */
    /* background-color: #2600ff; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;

 color: white;
-webkit-text-stroke: 2px #000000;
font-weight: 999;
}

.banner{

    position: absolute;
    border-bottom: solid 5px #6c62a367;
    width: 100%;
    /* height: 12vh; */
    background-color: #aea0ff;;
    top:0px;
    text-align: center;
    /* padding: 10px; */
        color: #ffe4c4;
    font-size: x-large;
    box-shadow: 0px 2px 12px #694fff3f;
}
.bangs{
      position:absolute;
      z-index: 2;
      width:350px;
      height: auto;
      /* top:-4vh */
      

}
.hair{
    position: absolute;
        height: 350px;
        pointer-events: none; 
}
.facebl{
    position: absolute;
    height: 200px;
    width: auto;
     z-index: 1;
     pointer-events: none; 
}
.face{
    top:35%;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    /* background-image: url(images\faceblank.png); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.eyes{
    position: relative;
    top: -10px;
    display: flex ;
}
.eyes .eye{
    position: relative;
    width: 55px;
    height: 55px;
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin:0 15px;
        border: solid 4px rgb(0, 0, 0) ;
        z-index: 1;
}
.eyes .eye::before{
    content: '';
    position:absolute;
    top: 50%;
    left:15px;
    transform: translate( -50%, -50%);
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(1, 0, 0);
/* z-index: 2; */
}

.button1{
 
 height: 45px;
 width: 125px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
  display: flex;


 color:#f08623;
 RIGHT:5%;
 BOTTOM:26%;
}
.button2{
height: 45px;
 width: 125px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
      display: flex;
  bottom: 33%;
   LEFT:5%;
 color:#ad2222;
 z-index: 0;
}
.button3{
 height: 45px;
 width: 125px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
 display: flex;
  top: 68%;
  LEFT:5%;
}
.button4{
 height: 45px;
 width: 125px;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
      display: flex;
  BOTTOM: 3%;
  LEFT:5%;
      color:#409ddb;
}
.button5{
 height: 45px;
 width: 125px;
BOTTOM:10.75%;
RIGHT:5%;
  /* border: solid 5px rgb(255, 0, 0) ; */
  position: absolute;
      display: flex;
          color:#50af75;
    }
    .BUTTON6{
         height: 45px;
 width: 125px;
 right:5%;
 bottom: 40%
    }
.bb{
    position:fixed;
    top: 13%;
    right:10%;
        background-color: #a89af7;;
            border: solid 7.5px #8f83d1a2;
                border-radius: 100%;
                font-size: 30px;
WIDTH:70PX;
height:10px;
                    
}
.ad{
    position: absolute;
    right: 0;
    bottom:0;
    height: 30px;


        align-items:center;
        text-align: center;
        z-index: 1;
    justify-content: center;
    color: bisque;
    background-color: #b5a8fd;;
    border: none;
    border-radius: 0%;
    /* border-style:double; */
    padding: 0px;
    box-shadow: #694fff00;
    transition: none;
    text-decoration: none;
}
.ad:hover{
    transform:none
}
a:hover{
      transform: scale(1.1);

}
}